.profile-card {
    border: 1px solid var(--light-color);
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.img-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.img-card{
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    
}
.item2{
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    justify-content: start;
    
}
.item1{
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: center;
    justify-content: center;
    
}
.text-card{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    align-content: center;
}
.text-card p{
    font-size: 15px;

}
.skils-card{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px solid #8a8989b0;
    border-radius: 5px;
    height: 50px;
    gap: 2px;
    
}
.skils{
    display: grid;
    align-content: center;
}

.skils-card div{
    border: 1px solid var(--light-color);
    border-radius: 5px;
    text-align: center;
    padding: 2px;
}
.buttons-card{

}