
@if (profile) {
<div class="profile-card">
    <div class="img-card">
        <div class="item1">
            <img  src="/assets/img/jaikishan-patel-2V6KugYewus-unsplash.jpg" alt="Man">
        </div>
        
        <div class="item2">
            <h4>Rayn Goldmann</h4>
            <span>rayn.goldmann</span>
        </div>

    </div>
    <div class="text-card">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Delectus a repellat amet distinctio magnam iure, commodi
            quaerat odio eligendi veritatis neque accusantium deleniti
            expedita alias, vero illo? Obcaecati laboriosam voluptates
            harum delectus quisquam neque, sequi consectetur?
        </p>
    </div>
    <div class="skils">
        <div class="skils-card">
            <div class="item-skils-card1">JS</div>
            <div class="item-skils-card2">CSS</div>
            <div class="item-skils-card3">HTML</div>
            <div class="item-skils-card4">Angular</div>
            <div class="item-skils-card5">Frontend</div>
        </div>

    </div>
    <div class="buttons-card">
        <div class="main-btn-card">
            <div class="btn-card">a</div>
            <div class="btn-card">a</div>
            <div class="btn-card">a</div>
        </div>
    </div>

</div>
}